<?xml version="1.0" encoding="utf-8"?>
<!--
Zoznam programov, ktoré sa inštalujú na build počítač.
Na inštaláciu sa používa Chocolatey (https://chocolatey.org/).
Ak je potrebné pridať niečo nové (alebo zmeniť), tak treba mrknúť, či to má choco balíček a pridať/upraviť tu.
Ak v budúcnosti pribudne ďalší build počítač, nech vieme jednoducho nainštalovať všetko, čo potrebujeme.
-->
<packages>
	<package id="notepad3.install" />
	<package id="microsoft-windows-terminal" />
	<package id="microsoft-edge" />
	<package id="adobereader" />
	<package id="googlechrome" />

	<package id="powershell-core" />
	<package id="git.install" packageParameters="/NoShellIntegration" />
	<package id="nuget.commandline" />
	<package id="postman" />
	<package id="terraform" />
	<package id="7zip" />

	<package id="dotnetcore-sdk" />
	<package id="nodejs-lts" />
	<!-- <package id="openjdk" /> -->

	<package id="azure-cli" />
	<package id="az.powershell" packageParameters="/core /desktop" />
	<package id="azurestorageemulator" />

	<package id="vscode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" />
	<package id="vscode-azurerm-tools" />
	<package id="vscode-csharp" />
	<package id="vscode-docker" />
	<package id="vscode-gitlens" />
	<package id="vscode-icons" />
	<package id="vscode-markdownlint" />
	<package id="vscode-powershell" />
	<package id="vscode-vsliveshare" />
	<package id="vscode-yaml" />

	<!--
		Balíček visualstudio2019buildtools štandardne inštaluje iba základné veci (MSBuild).
		Dokáže nainštalovať aj komplet všetko, ale to nepotrebujeme (napr. UWP),
		preto sa samostatne inštalujú jednotlivé potrebné časti.
	-->
	<package id="visualstudio2019buildtools" />
	<package id="visualstudio2019-workload-netcorebuildtools" /> <!-- .NET Core workload -->
	<package id="visualstudio2019-workload-manageddesktopbuildtools" /> <!-- .NET desktop workload -->
	<package id="visualstudio2019-workload-webbuildtools" /> <!-- Web development workload -->
	<package id="visualstudio2019-workload-azurebuildtools" /> <!-- Azure development workload -->
	<package id="visualstudio2019-workload-vctools" /> <!-- Visual C++ workload -->
	<!-- <package id="visualstudio2019-workload-databuildtools" /> --> <!-- Data storage and processing workload -->
	<!-- <package id="visualstudio2019-workload-nodebuildtools" /> --> <!-- Node.js workload -->
	<!-- <package id="visualstudio2019-workload-xamarinbuildtools" /> --> <!-- Mobile development workload -->
	<!-- <package id="visualstudio2019-workload-visualstudioextensionbuildtools" /> --> <!-- Visual Studio extension development workload -->
	<!-- <package id="visualstudio2019-workload-officebuildtools" /> --> <!-- Office/SharePoint workload -->
	<!-- <package id="visualstudio2019-workload-universalbuildtools" /> --> <!-- UWP workload -->
</packages>
